

.nombre{
    text-shadow: 2px 3px 11px rgba(182,69,69,0.6);
}
#verde{
    background-color:#f5e1c8;
    height: 900px;
    width: 600px;
    
    
}
#amarillo{
    width:500px ;
    height:900px ;
    background-color: #a0c5f7;
    margin: -422px 0 0 350px;
    
}

