footer {
    background-color: #aaa;
}



.hero {
    background: url(../img/interior2.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 600px;
    color: white;

}
h1,h2{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
}